<div class="vclEmailViewport">
  <div class="vclHidden-print">
    <h1 class="vclAlignCentered">Hello Max Mustermann,</h1>
    <h2 class="vclAlignCentered">Thanks for your order!</h2>
    <br>
  </div>
  <div class="vclEmailBody">
    <div class="vclFloatLeft">
      <img class="vclResponsiveImage vclLogo" role="presentation" src="https://cdn.jsdelivr.net/gh/vcl/vcl/gfx/vcl_logo_square-bw.svg" style="width: 9em; margin-top: 1em;">
      <div style="margin-bottom: 1em;">
        <span class="vclText">VCL Company SE</span>&nbsp;·&nbsp;
        <span class="vclText">Somestreet 45</span>&nbsp;·&nbsp;
        <span class="vclText">70174 Stuttgart</span>
      </div>
    </div>

    <table class="vclTable vclCondensed vclFloatRight invoicemeta" style="width: 20em; margin-top: 1.5em;">
      <tr>
        <td><b>Invoice No.</b></td>
        <td class="vclAlignRight">2017110800169</td>
      </tr>
      <tr>
        <td><b>Date</b></td>
        <td class="vclAlignRight">19.09.2019</td>
      </tr>
      <tr>
        <td><b>Payment Status</b></td>
        <td class="vclAlignRight">unpaid</td>
      </tr>
      <tr>
        <td><b>Customer No.</b></td>
        <td class="vclAlignRight">1694923665</td>
      </tr>
      <tr>
        <td><b>VAT-ID-No.</b></td>
        <td class="vclAlignRight">DE000000000</td>
      </tr>
    </table>
    <br>

    <div class="vclClearFix"></div>
    <br>

    <table class="vclTable vclNoBorder vclFloatLeft billingAddress" style="width: 100%; max-width:50%;">
       <tbody>
        <tr>
          <td><b>Rechnungsadresse</b></td>
          <td>Max Mustermann</td>
        </tr>
        <tr>
          <td> </td>
          <td>Mustermannstrasse 10</td>
        </tr>
        <tr>
          <td> </td>
          <td>Stuttgart</td>
        </tr>
        <tr>
          <td> </td>
          <td>Germany</td>
        </tr>
      </tbody>
    </table>

    <table class="vclTable vclNoBorder vclFloatLeft shippingAddress" style="width: 100%; max-width:50%;">
      <tbody>
        <tr>
          <td><b>Lieferadresse</b></td>
          <td>Max Mustermann</td>
        </tr>
        <tr>
          <td> </td>
          <td>Mustermannstrasse 10</td>
        </tr>
        <tr>
          <td> </td>
          <td>Stuttgart</td>
        </tr>
        <tr>
          <td> </td>
          <td>Germany</td>
        </tr>
      </tbody>
    </table>
    <div class="vclClearFix"></div>
    <br>
    <div style="width: 100%; overflow: auto;">
      <table class="vclTable vclSumTable items">
        <thead>
          <tr>
            <th><div>Position</div></th>
            <th><div>Description</div></th>
            <th class="vclAlignRight"><div>Quantity</div></th>
            <th class="vclAlignRight"><div>VAT</div></th>
            <th class="vclAlignRight"><div>Amount (€)</div></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Article 23784628</td>
            <td class="vclAlignRight">1</td>
            <td class="vclAlignRight">19%</td>
            <td class="vclAlignRight">12.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Article 34895789</td>
            <td class="vclAlignRight">1 000</td>
            <td class="vclAlignRight">19%</td>
            <td class="vclAlignRight">11,111.11</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Article 89054373</td>
            <td class="vclAlignRight">2</td>
            <td class="vclAlignRight">7%</td>
            <td class="vclAlignRight">1.15</td>
          </tr>
          <tr class="vclSumTableSubTotal">
            <td colspan="3">Sub-Total (gross)</td>
            <td colspan="2" class="vclAlignRight">27,689.22 <small>€</small></td>
          </tr>
          <tr class="vclNoBorder">
            <td colspan="3">Sub-Total (net)</td>
            <td colspan="2" class="vclAlignRight">23,384.22 <small>€</small></td>
          </tr>
          <tr class="vclNoBorder">
            <td colspan="5">&nbsp;</td>
          </tr>
          <tr class="vclNoBorder">
            <td colspan="3">+ VAT 19%</td>
            <td colspan="2" class="vclAlignRight">4,224.50 <small>€</small></td>
          </tr>
          <tr class="vclNoBorder">
            <td colspan="3">+ VAT 7%</td>
            <td colspan="2" class="vclAlignRight">80.50 <small>€</small></td>
          </tr>
          <tr class="vclSumTableTotal">
            <td colspan="3">To be paid</td>
            <td colspan="2" class="vclAlignRight">27,689.22 <small>€</small></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <p class="payment_instructions">
      Please transfer the money to the following account:
    </p>
    <table class="vclNoBorder" style="min-width: 18em;">
      <tr>
        <td><b>Bank</b></td>
        <td class="vclAlignRight">Deutsche Bank AG</td>
      </tr>
      <tr>
        <td><b>IBAN</b></td>
        <td class="vclAlignRight">DE60200700000000000000</td>
      </tr>
      <tr>
        <td><b>BIC</b></td>
        <td class="vclAlignRight">DEUTDEXXXXX</td>
      </tr>
      <tr>
        <td><b>Purpose</b></td>
        <td class="vclAlignRight">2017110800169</td>
      </tr>
    </table>
    </p>
    <br>
    <p class="terms">
    Terms, terms, terms.
    </p>
    <footer class="footer">
      <div class="vclFloatLeft vclScale85p" style="width: 33%;">
        VCL Company SE</br>
        Somestreet 45</br>
        70174 Stuttgart</br>
        billing@vclcompany.com</br>
        www.vclcompany.com</br>
        Tel.: +49(0)711-8489564894
      </div>
      <div class="vclFloatLeft vclScale85p" style="width: 33%;">
        Deutsche Bank AG</br>
        DE60200700000000000000</br>
        DEUTDEXXXXX
      </div>
      <div class="vclFloatLeft vclScale85p" style="width: 33%;">
        Entry in the Trade Register: </br>
        Register Number: HRB 736379</br>
        Register Court: Amtsgericht Stuttgart (Registergericht)</br>
        Members of the board: Max Mustermann</br>
        VAT-ID-No.: DE000000000
      </div>
    </footer>
    <div class="vclClearFix"></div>
    <br>
  </div>
  <div class="vclHidden-print">
    <br>
    <p class="vclAlignCentered outro">
      Yours sincerely,
      <br>The VCL Team!
    </p>
    <div class="vclEmailFooter">
      Need Help? <a href="mailto:">Email</a>
    </div>
  </div>
</div>
